<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - webshop</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/webshop.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @{
            var username = Context.Request.HttpContext.Session.GetString("Username");
        }

        <div>
            @if (!string.IsNullOrEmpty(username))
            {
                <form method="post" asp-page="Index" asp-page-handler="logout">
                    <button type="submit">Logout</button>
                </form>
            }
        </div>
        <nav>
            <ul>
                <li>
                    <a href="Index">Home</a>
                </li>
                <li>About us</li>
                <li>Producten</li>
                <li>Contact</li>
                <li>
                    <a href="Inlog">Inloggen</a>
                </li>
                <li>
                    <a href="Admin">Admin</a>
                </li>
            </ul>
        </nav>   
        @if (!string.IsNullOrEmpty(username))
        {
            <nav>
                <ul>
                    <li>
                        <a href="upload">Upload product</a>
                    </li>
                </ul>                
            </nav>
            
        }
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>