<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - webshop</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/webshop.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<style>
    .head-container {
        display: flex;
        flex-direction: row;
    }

    .head {
        width: 80vw;
        height: 100px;
        background: white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: -10px;
    }

    .left label {
        font-size: 2rem;
    }

    .bar-container {
        display: flex;
    }

    .bar-container div {
        width: 45px;
        height: 40px;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .bar-container input {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border: 1.5px solid black;
        width: 350px;
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 20vw;
    }

    .l-container a {
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
    }

    .right form button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.2rem;
    }
</style>

<body>
    <header>
        @{
            var username = Context.Request.HttpContext.Session.GetString("Username");
        }

        <div class="head-container">
            <div class="head">
                <div class="left">
                    <label>DevNeeds</label>
                </div>

                <div class="middle">
                    <div class="bar-container">
                        <input type="text"/>
                        <div type="submit"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></div>
                    </div>
                </div>

                
            </div>
            <div class="right">                

                @if (!string.IsNullOrEmpty(username))
                {
                <form method="post" asp-page="Index" asp-page-handler="logout">
                        <button type="submit">Logout<i class="fa-solid fa-right-to-bracket" style="color: #000000; margin-left: 2.5px;"></i></button>
                </form>
                }
                else
                {
                    <div class="l-container">
                        <a href="Inlog">Log In<i class="fa-solid fa-right-to-bracket" style="color: #000000; margin-left: 2.5px;"></i></a>                        
                    </div>
                }
            </div>
            
        </div>
        <nav>
            <ul>
                <li>
                    <a href="Index">Home</a>
                </li>
                <li>About us</li>
                <li>Producten</li>
                <li>Contact</li>
                <li>
                    <a href="Admin">Admin</a>
                </li>
            </ul>
        </nav>   
        @if (!string.IsNullOrEmpty(username))
        {
            <nav>
                <ul>
                    <li>
                        <a href="upload">Upload product</a>
                    </li>
                </ul>                
            </nav>
            
        }
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>