@page
@model webshop.Pages.AdminModel

@using Microsoft.AspNetCore.Mvc.ViewFeatures;
@inject IModelExpressionProvider ModelExpressionProvider

<style>
    /* CSS styles for the form */
    form {
        max-width: 300px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f4f4f4;
        border-radius: 5px;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    .input[type="text"],
    .input[type="password"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    button[type="submit"] {
        background-color: #8AFFFF;
        color: black;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        button[type="submit"]:hover {
            background-color: #00FFFF;
        }
</style>

<div class="main">
    <form method="post">
        <div>
            <label for="username" class="">username:</label>
            <input class="input" type="text" id="username" asp-for="Username"/>
        </div>
        <div>
            <label for="password" class="">password:</label>
            <input class="input" type="password" id="password" asp-for="Password" />
        </div>
        <button type="submit" class="">Login</button>
    </form>
</div>
