@page
@model webshop.Pages.IndexModel
@{
    ViewData["Title"] = "Dev Needs";
}

<style>
    
</style>

<div>
    <img style="width: 100vw; height: 600px; object-fit: cover; margin-right: 5px;" src="media/main.png" />

    <div class="about" id="about">
        <h1>About us</h1>
        <p>
            Hallo en welkom bij onze webshop waar wij producten verkopen voor developers die hun set-up willen upgraden met handige tools.
            Wij houden ons graag bezig met daadwerkelijke tools om bijvoorbeeld je set-up schoon te houden, of een tool voor je telefoon op te laden zonder een oplader te gebruiken etc.
            Het gaat er dus bij ons om dat je fijn en ongehinderd achter een PC kan zitten met volledige focus. Hier onder dus een assortiment met de producten die wij
            verkopen. Bij vragen kunt u verder scrollen en kunt u uw vragen stellen met u contact gegevens.
        </p>
    </div>

    <div class="main" id="producten">
        <div>
            <h2>Products we sell</h2>
        </div>

        <div class="container">
            @foreach (var product in Model.Producten)
            {                
                <img src="uploads/@product.img">
                <div>@product.naam</div>
                <div>@product.prijs</div>
            }
        </div>
    </div>
</div>
