@page
@model webshop.Pages.uploadModel
@{
    ViewData["Title"] = "Upload";
}

<div class="main">
    <h1>Upload product</h1>

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div>@Model.ErrorMessage</div>
    }

    <form method="post" enctype="multipart/form-data">
        <div>
            <label for="PT_naam">Type:</label>
            <select asp-for="PT_naam" required>
                @for(var i = 0; i < Model.PT_name.Length; i++)
                {
                    <option>@Model.PT_name[i]</option>
                }
            </select>
        </div>
        <div>
            <label for="prijs">prijs:</label>
            <input type="number" id="prijs" name="Prijs" asp-for="Prijs" required>
        </div>
        <div>
            <label for="uploadedFiles">Select Photo:</label>
            <input type="file" id="uploadedFiles" name="UploadedFiles" asp-for="UploadedFiles" multiple required>
        </div>
        <div>
            <label for="naam">Naam product:</label>
            <input type="text" id="naam" name="Naam" asp-for="Naam" required>
        </div>

        <button type="submit">Upload</button>
    </form>
</div>

